{% extends 'layout.twig' %}

{% set title = 'Vpis novega gesla'  %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div style="padding-top: 40px; padding-bottom: 40px; background-color: #2f2f2f; width: 100%; height: 100%; position: absolute; top: 0; left: 0;">

        <div class="container">
            <a href="http://kig.si/"><img src="{{ constant('APPASSETS') }}/img/cgp/logo.png" class="logo" alt="kig" /></a>

            <form class="form-signin" id="changePasswordForm" method="post" action="menjava-gesla-iz-notifikacije">
                <h2 class="form-signin-heading">Vpis novega gesla</h2>
                <br>
                {% if flash %}<p class="signin">{{ flash|raw }}</p>{% endif %}
                {% if errors %}
                    {% for error in errors %}
                        <p class="signin">{{ error }}</p>
                    {% endfor %}
                {% endif %}

                <p class="signin clientNapisError"></p>
                <p class="signin clientNapisErrorNoMatch"></p>

                <input type="password" id="password" name="password" class="form-control" placeholder="novo geslo" required>

                <input type="password" id="password2" name="password2" class="form-control" placeholder="ponovni vnos novega gesla" required>

                {# <input type="hidden" name="csrf_name" value="{{ csrf.name }}">
                <input type="hidden" name="csrf_value" value="{{ csrf.value }}"> #}
                <input type="hidden" name="username" value="{{ username }}">
                <input type="hidden" name="id" value="{{ id }}">
                <input type="hidden" name="pass_key" value="{{ pass_key }}">
                <br>
                <button class="btn btn-primary prijava" type="submit">potrdi</button>

            </form> 

            <p class="signin">Geslo mora vsebovati eno veliko črko, eno številko in najmanj 6 znakov.</p>

        </div>
    </div>
        


{% endblock %}