{% extends 'layout.twig' %}

{% set title = 'Pozabljeno geslo'  %}
{% block title %}{{ title }}{% endblock %}

{% block content %}

    <div style="padding-top: 40px; padding-bottom: 40px; background-color: #2f2f2f; width: 100%; height: 100%; position: absolute; top: 0; left: 0;">

        <div class="container">
            <a href="http://kig.si/"><img src="{{ constant('APPASSETS') }}/img/cgp/logo.png" class="logo" alt="kig" /></a>
            <br>
            
            <form class="form-signin" id="sendMailNotification" method="post" action="pozabljeno-geslo">
                <h2 class="form-signin-heading">Pozabljeno geslo</h2>
                <br>

            {% if flash %}<p class="signin">{{ flash|raw }}</p>{% endif %}
            {% if errors %}
                {% for error in errors %}
                    <p class="signin">{{ error }}</p>
                {% endfor %}
            {% endif %}
                <p class="signin clientNapisError"></p>

                <input type="text" id="email" name="username" class="form-control" placeholder="e-naslov" value="{{ email }}" required>

                {# <input type="hidden" name="csrf_name" value="{{ csrf.name }}">
                <input type="hidden" name="csrf_value" value="{{ csrf.value }}"> #}
                <br>
                <br>
                <button class="btn btn-primary prijava" type="submit">potrdi</button>

            </form> 

            <p class="signin">Vnesite vaš e-naslov. Po e-pošti boste prejeli povezavo za ustvarjanje novega gesla.</p>
            
            <p class="signin">Nazaj na <a href="{{ constant('APPBASEURL')}}prijava">prijavo</a>.</p>

        </div>
    </div>
        


{% endblock %}